.center{
    padding-top: 2.5%;
    text-align: center;
}

.component {
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px
}

.heading {
    margin-top: -20px;

}



.largeLable {
    margin-right: 10px;
}