.center{
    padding-top: 2.5%;
    text-align: center;
}

.component {
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px
}

.heading {
    margin-top: -20px;
    color: #0d400d;
}

.button {
    background-color: #40130d;
    color: #3a02d3;
    margin-top: 30px;
}