<app-header></app-header>
<br><br><br>
<div class="center">
  <h2>
    <p>
      Audit Data
    </p>
  </h2>
  <ng-template  [ngIfElse]="displayTable">
    <div class="container component my-5">
      
      <div class="button">
        <input class="btn buttn bigbtn lastbtn" type="button" value="Back to Home" routerLink="/home">
      </div>
    </div>
  </ng-template>
  <ng-template >
    <div class="container mx-auto table-responsive">
      <table class="table">
        <tr>
          
        </tr>
        <tr *ngFor="let res of responses">
        </tr>
      </table>
    </div>
    <br>
    <div class="button">
      <input class="btn buttn bigbtn lastbtn" type="button" value="Back to Home" routerLink="/home">
    </div>
  </ng-template>
</div>